@using System.Collections.Immutable;

@inject InMemoryStorageService storage;
@inject NavigationManager navigator;

<div class="list">
    <!--bind creates an event handler for it (onchange by default I think), then bind:event retargets the value to a different event-->
    <!--So instead of onChange, I now bind SearchText to oninput which is basically keydown, no onChange is present (I believe...)-->
    <input class="searchbox" placeholder="Search..." @bind="@SearchText" @bind:event="oninput" @onkeydown="OnSearchTextChanged" />
    @if (!Items.Any())
    {
        <div class="no-items">
            <p>No tech debt items!</p>
            <p>Create one using the side menu. But hopefully there isn't anything to report :D</p>
        </div>
    }
    else
    {
        <ul>
            <li class="card addcard" style="height: 5rem" @onclick="AddNewItem">
                <h1>+ Add new</h1>
            </li>

            @foreach (var item in Items)
            {
                <TechDebtListItemItem Title="@item.Title"
                                      Description="@item.Description"
                                      EstimatedDateOfIncident="@item.EstimatedDateOfIncident"
                                      CreatedBy="@item.CreatedBy"
                                      CreatedOn="@item.CreatedOn" />
            }
        </ul>
    }

</div>
